//@theme "/home/spacedogwings/.local/share/rofi/themes/orchis.rasi"

//@theme "/home/spacedogwings/.local/share/rofi/themes/FermFrond.rasi"

@theme "/home/spacedogwings/.local/share/rofi/themes/orchis.rasi"
