//@theme "/home/spacedogwings/.local/share/rofi/themes/orchis.rasi"

//@theme "/home/spacedogwings/.local/share/rofi/themes/FermFrond.rasi"

//@theme "/home/spacedogwings/.local/share/rofi/themes/orchis.rasi"

//@theme "/home/wingsunancode/.local/share/rofi/themes/orchis.rasi"

//@theme "/home/wingsunancode/.local/share/rofi/themes/sweet-style-1.rasi"

@theme "/home/spacedogwings/.local/share/rofi/themes/sweet-style-1.rasi"
