@import "cassette01.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: DepartureMono Nerd Font, sans;
  font-size: 15px;
}

window#waybar {
  background-color: @window-background;
  border-radius: 16px;
}

#custom-logo,
#workspaces,
#language, 
#battery,
#clock{
  margin: 0.5em 0.5em;
}

#custom-logo,
#language,
#battery,
#clock,
#workspaces button {
  padding: 0.3em 1.3em 0.3em 1em;
  border-radius: 10px;
}

#custom-logo {
  padding: 0.3em 1.3em 0.3em 1em;
  color: @custom-logo-text;
  background: linear-gradient(45deg, @custom-logo-background-1, @custom-logo-background-2);
}

#workspaces {
  background: transparent; 
  margin: 0.5em 0.5em;
}
#workspaces button {
  margin: 0 0.2em;
  padding: 0.3em 1.3em 0.3em 1em;
  border-radius: 10px;
}
#workspaces button:hover {
  background: @workspaces-button-hover-background;
}
#workspaces button.visible {
  padding: 0.3em 2.3em 0.3em 2em;
  color: @workspaces-button-visible-text;
  background: @workspaces-button-visible-background;
  transition:  all 0.2s;
}
#workspaces button.active {
  padding: 0.3em 2.3em 0.3em 2em;
  color: @workspaces-button-text;
  background: linear-gradient(45deg, @workspaces-button-background-1, @workspaces-button-background-2);
  transition:  all 0.2s;
}

#language {
  background: @language-background;
}

#clock:hover {
  color: @workspaces-button-text;
  background: linear-gradient(45deg, @workspaces-button-background-1, @workspaces-button-background-2);
  transition:  all 0.2s;
}

tooltip {
  border-radius: 10px;
  background: linear-gradient(45deg, @workspaces-tooltip-background-1, @workspaces-tooltip-background-2);
  color: @workspaces-tooltip-text;
}

menu {
  padding: 0.8em;
	color: @workspaces-menu-text;
  background: linear-gradient(45deg, @workspaces-menu-background-1, @workspaces-menu-background-2);
	border-radius: 12px;
}
menuitem {
	border-radius: 10px;
}

#backlight-slider slider {
  min-height: 20px;
  min-width: 20px;
  opacity: 0;
  background: @color-5;
  border-radius: 10px;
  box-shadow: none;
}
#backlight-slider slider:active {
  opacity: 1;
  background: @color-1;
}
#backlight-slider trough {
  min-height: 5px;
  min-width: 100px;
  border-radius: 5px;
  background: linear-gradient(45deg, @backlight-slider-trough-background-1, @backlight-slider-trough-background-2);
}
#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: linear-gradient(45deg, @backlight-slider-highlight-background-1, @backlight-slider-highlight-background-2);
}

#battery, #battery-normal {
  background: @battery-background;
}
#battery.warning,
#battery.critical,
#battery.full,
#battery.charging {
  color: @workspaces-button-text;
}
#battery.warning {
  background: linear-gradient(45deg, @battery-warning-background-1, @battery-warning-background-2);
}
#battery.critical {
  background: linear-gradient(45deg, @battery-critical-background-1, @battery-critical-background-2);
}
#battery.charging {
    background: linear-gradient(45deg, @battery-charging-background-1, @battery-charging-background-2);
    animation: 2s ease-out 0s infinite alternate go-to;
}
#battery.full {
    background: linear-gradient(45deg, @battery-full-background-1, @battery-full-background-2);
}

@keyframes go-to {
    1% {
      background: linear-gradient(45deg, @animation-1, @animation-2);
    }
    50% {
      background: linear-gradient(45deg, @animation-2, @animation-2);
    }
    100% {
      background: linear-gradient(45deg, @animation-1, @animation-2);
    }
}
