@import "cassette01.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: DepratureMono Nerd Font, sans;
  font-size: 15px;
}

window#waybar {
  background-color: @window-background;
  border-radius: 16px;
}

#custom-logo,
#workspaces,
#language, 
#clock{
  margin: 0.5em 0.5em;
}

#custom-logo,
#language,
#clock,
#workspaces button {
  padding: 0.3em 1.3em 0.3em 1em;
  border-radius: 10px;
}

#custom-logo {
  padding: 0.3em 1.3em 0.3em 1em;
  color: @custom-logo-text;
  background: linear-gradient(45deg, @custom-logo-background-1, @custom-logo-background-2);
}

#workspaces {
  background: transparent; 
  margin: 0.5em 0.5em;
}
#workspaces button {
  margin: 0 0.2em;
  padding: 0.3em 1.3em 0.3em 1em;
  border-radius: 10px;
}
#workspaces button:hover {
  background: @workspaces-button-hover-background;
}
#workspaces button.active {
  padding: 0.3em 2.3em 0.3em 2em;
  color: @workspaces-button-text;
  background: linear-gradient(45deg, @workspaces-button-background-1, @workspaces-button-background-2);
  transition:  all 0.2s;
}

#language {
  background: @language-background;
}

#clock:hover {
  color: @workspaces-button-text;
  background: linear-gradient(45deg, @workspaces-button-background-1, @workspaces-button-background-2);
  transition:  all 0.2s;
}

tooltip {
  border-radius: 10px;
  background: linear-gradient(45deg, @workspaces-tooltip-background-1, @workspaces-tooltip-background-2);
  color: @workspaces-tooltip-text;
}

menu {
  padding: 0.8em;
	color: @workspaces-menu-text;
  background: linear-gradient(45deg, @workspaces-menu-background-1, @workspaces-menu-background-2);
	border-radius: 12px;
}
menuitem {
	border-radius: 10px;
}
