[Desktop Entry]
Version=5.3.4
Type=Application
Terminal=false
Name=Beekeeper Studio
Exec=/home/wingsunancode/.local/share/appimages/Beekeeper-Studio.AppImage
Icon=/home/wingsunancode/.local/share/icons/custom/db-manager.png
StartupWMClass=beekeeper-studio
Comment=Un cliente sql simple
