[Desktop Entry]
Version=0.15.1
Type=Application
Terminal=false
Name=Neovide
Exec=/home/wingsunancode/.local/share/appimages/neovide.AppImage
Icon=/home/wingsunancode/.local/share/icons/custom/editor.png
StartupWMClass=neovide
Comment=Un editor en rust con lo mejor de neovim
