[Desktop Entry]
Version=0.15.1
Type=Application
Terminal=false
Name=Neovide
Exec=/home/spacedogwings/.local/share/appimages/neovide.AppImage
Icon=/home/spacedogwings/Imágenes/icons/editor.png
